* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 1fr;
    grid-template-areas: 
    'cabecalho cabecalho'
    'navecacao main'
    'rodape rodape';
}

.grid div:nth-child(1) {
    background-color: darkblue;
    grid-area: cabecalho;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid div:nth-child(2) {
    background-color: darkred;
    grid-area: navegacao;;
}

.grid div:nth-child(3) {
    background-color: darkgreen;
    grid-area: main;
}

.grid div:nth-child(4) {
    background-color:rgb(197, 255, 80);
    grid-area: rodape;
}